body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
}

body > * {
  padding: 0 128px;
}

p {
  margin: 0;
}

header,
footer {
  background-color: #1f2937;
  height: 72px;
  display: flex;
  align-items: center;
}

header {
  justify-content: space-between;
}

footer {
  justify-content: center;
  margin-top: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: 600;
  border-radius: 6px;
  border-style: none;
  padding: 4px 24px;
  outline: 10px auto #3882f6;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.link,
.secondary-text {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.main-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.info-header-text,
.quote-text {
  font-size: 36px;
  color: #1f2937;
}

.info-header-text {
  font-weight: 900
}

.quote-text{
  font-weight: 300;
}